@inject AuthenticationStateProvider AuthStateProvider
@using System.Security.Claims

@if (_authorized)
{
        <a class="dropdown-item" href="admin/categories">Categories</a>
        <a class="dropdown-item" href="admin/platform-types">Platform Types</a>
        <a class="dropdown-item" href="admin/developers">Developers</a>
        <a class="dropdown-item" href="admin/publishers">Publisher</a>
        <a class="dropdown-item" href="admin/products">Products</a>
        <hr />
}

@code {
    bool _authorized = false;

    protected override async Task OnInitializedAsync()
    {
        var role = (await AuthStateProvider.GetAuthenticationStateAsync())
            .User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
        if (role != null && role.Contains("Admin"))
        {
            _authorized = true;
        }
    }
}