@page "/cart/payment"

<div style="text-align: center;">
    <h3>Billing Information</h3>
    <div class="container">
        <AddressForm />
    </div>
</div>
<hr />
<hr />
<div style="text-align: center;">
    <h3>Payment Information</h3>
    <div class="container">
        <CardForm />
    </div>
</div>

@code {

}
