@page "/counter"
@inject ICategoryService Service

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@if (Service.Categories.Count == 0)
{
    <p>No categories</p>
}
else
{
    @foreach (var category in Service.Categories)
    {
        <p>@category.Name</p>
    }
}

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        await Service.GetCategoriesAsync();
    }
}
